{% extends 'admin-sidebar.html' %}


{% load staticfiles %}

{% block title %} Assignments {% endblock %}

{% block content %}



<div class="container under-navbar">
		<h3 align="center" class="color-pink">Assignments</h3>
		<br>
		<div class="row">

		{% for assignment in assignments %}

			<div class="col-md-4 class-holder">
				<div class="col-content with-box-shadow class">
					<h4 align="center"><a href="/t/assignment={{assignment.id}}" class="color-pink">{{assignment.title}}</a></h4>
					<br>
					<p>{{assignment.description}}</p>
					<h6 class="color-pink">{{assignment.status}}</h6>

					<br>

					
				</div>
			</div>

		{% endfor %}

			<div class="col-md-4 class-holder">
				<div class="col-content with-box-shadow class">
					<center><button class="btn btn-default color-pink transparent-btn" data-toggle="modal" data-target="#link">Link assignmentassignment to class</button></center>
				</div>
			</div>

			<div class="col-md-4 class-holder">
				<div class="col-content with-box-shadow class">
					<center><button class="btn btn-default color-pink transparent-btn" data-toggle="modal" data-target="#myModal"><h1>+</h1></button></center>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="link" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header pink-bcg">
		        <h5 class="modal-title white" id="exampleModalLabel">Link assignment to class</h5>
		        <button type="button" class="close white modal-close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">

		        
		        <form class="modal-forms" action="/t/apply-assignment-to-class" role="form" method="POST">{% csrf_token%}
					<div class="form-group">
						<label for="assignment">Assignment Title</label>

						<select type="text" class="form-control form-control-sm" id="assignment" name="assignment" aria-describedby="emailHelp" placeholder="Enter course title" required>
							{% for assignment in assignments %}
								<option value="{{assignment.id}}">{{assignment.title}}</option>
							{% endfor %}
						</select>
					</div>

					<div class="form-group">
						<label for="eclass">Class</label>

						<select type="text" class="form-control form-control-sm" id="eclass" name="eclass" aria-describedby="emailHelp" placeholder="Enter course title" required>
							{% for eclass in eclasses %}
								<option value="{{eclass.id}}">{{eclass.name}}</option>
							{% endfor %}
						</select>
					</div>

					<div class="form-group">
						<div class="modal-footer">
					        <button type="submit" class="btn btn-primary modal-btn-submit">Link</button>
					    </div>
					</div>


				</form>
		      </div>

		      
		    </div>
		  </div>
		</div>

		<!-- END OF ORDER MODAL -->



	<!-- Adding a Class Modal -->

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header pink-bcg">
		        <h5 class="modal-title white" id="exampleModalLabel">Add Assignment</h5>
		        <button type="button" class="close white modal-close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">

		        <!-- ORDER DETAILS -->
		        <form class="modal-forms" action="/t/add-assign" method="POST">{% csrf_token %}
					<div class="form-group">
						<label for="title">Assignment title</label>

						<input type="text" class="form-control form-control-sm" id="title" name="title" aria-describedby="emailHelp" placeholder="Enter Assignment title" required>
					</div>

					<div class="form-group">
						<label for="description">Assignment description</label>
						<textarea type="text" class="form-control form-control-sm" id="description" name="description" placeholder="Add assignment description" rows="5" required></textarea>
					</div>

					
					<div class="form-group">
						<div class="modal-footer">
					        <button type="submit" class="btn btn-primary modal-btn-submit">Add</button>
					    </div>
					</div>
					</form>
		      </div>

		      
		    </div>
		  </div>
		</div>

		<!-- END OF ORDER MODAL -->


{% endblock%}