
{% extends 'student-sidebar.html' %}


{% load staticfiles %}

{% block title %} My Assignments {% endblock %}

{% block content %}

{% block user %}

{{student.first_name}}

{% endblock %} 

<div class="container under-navbar">
		<div class="row">
		{% for assignment in assignments %}
			{% for assfor in assfors %}
				{% if assignment == assfor.assignment %}
					{% for done in completed %}
						{% if assignment == done.assignment %}


							<div class="col-md-4 class-holder">
								<div class="col-content with-box-shadow class">
									<h4 align="center" class="color-pink">{{assignment.title}}</h4>
									<br>
									<p>{{assignment.description}}</p>
									<br>
									
										
										<h6 align="center">Completed on {{done.time}}</h6>
										<h4 align="center" class="color-pink">{{done.score}}%</h4>
										
									
								</div>
							</div>


						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}

		{% endfor %}
		</div>

		<hr>

		<div class="row">

		{% for assignment in incompleted %}
		<div class="col-md-4 class-holder">
			<div class="col-content with-box-shadow class">
				<h4 align="center" class="color-pink">{{assignment.title}}</h4>
				<br>
				<p>{{assignment.description}}</p>
				<br>
				
				<a href="/s/assignment={{assignment.id}}"><button class="btn green-bcg white">Take assignment</button></a>

			</div>
		</div>
		{% empty %}
			<br>
			<div class="col-md-12">
				<h4 align="center">No new assignments</h4>
			</div>
		{% endfor %}

		
									
			
		</div>
	</div>


	{% endblock %}